/* body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

.todo-container {
  margin: 50px auto;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
} */


body{
  background-color: rgba(12, 5, 42, 0.902);
  color: white;
}

.fa:hover
{
  cursor: pointer;
}

.fa-plus:hover{
  cursor: pointer;
}